* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.role-page {
  min-height: 100vh;
  background: #9ed6df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.brand {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.star {
  font-size: 28px;
  color: gold;
  margin-bottom: 20px;
}

.role-card {
  background: #fff;
  width: 100%;
  max-width: 360px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.role-btn {
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.role-btn:hover {
  background: #111;
}

.divider {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 16px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #ccc;
}

.divider p {
  font-size: 12px;
  color: #666;
}

.scanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qr-box {
  background: #fff;
  color: #000;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 6px;
  font-weight: bold;
}

.qr-box img
{
    width: 24px;
    height: 24px;
}
/* Mobile optimization */
@media (max-width: 480px) {
  .brand {
    font-size: 22px;
  }

  .role-card {
    padding: 20px;
  }
}
